.about-card {
  max-width: 400px;
  margin: 0 auto;

  &-img {
    width: 100%;
  }
}

.card-body {
  border: 1px solid black;
  margin-top: -2px;
}

@media only screen and (max-width: 800px) {
  .about-card {
    margin-left: 16%;
  }
}
