.education {
  margin: 0 auto;
  float: none;
  margin-bottom: 2%;
}

.list-group-item {
  padding-bottom: 1px;
}

.contact-info {
  padding-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .education {
    margin-left: 10%;
  }
}
