.card {
  width: 100%;
  margin-bottom: 5%;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 1rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.4rem;
}

.project-list {
  margin: 0 auto;
  width: 85%;
}

.card-img-top {
  height: 16rem;
}

.project {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;

  &-card {
    width: 26rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .project {
    margin-left: 7.5%;
  }
}
