.card {
  display: inline-block;
  justify-content: space-evenly;
  width: 26rem;
  margin-bottom: 5%;
  margin-left: 7%;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 1rem 0 !important;
}

.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.4rem;
}

// .space {
//   margin-right: 2%;
// }

.project-list {
  margin-bottom: 5%;
  margin-left: 7%;
  display: flex;
  align-items: space-evenly;
}

.card-img-top {
  height: 16rem;
}
