.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(190, 7, 7, 0.342);
  height: 56px;
}

.toolbar-logo {
  margin-left: 0.5rem;
}

.toolbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.spacer {
  flex: 1;
}

.toolbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.toolbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-items li {
  padding: 0 0.5rem;
}

.toolbar-items a {
  color: white !important;
  text-decoration: none;
  align-items: center;
}

.toolbar-items a:hover,
.toolbar-items a:active {
  color: blue !important;
}
