@import "~bootstrap/scss/bootstrap.scss";
@import "./styles/aboutme.scss";
@import "./styles/contact.scss";
@import "./styles/education.scss";
@import url("https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");

body {
  background: url("https://i.imgur.com/cK1tC6c.png");
}

.App {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 6%;
}
